table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 40px;

    /*text-align: left;*/
}

tbody {
    height: 400px;
    overflow-y: auto;
}

thead {
    /* fallback */
}


tbody td, thead th {
    width: 25%;
    float: left;
}

.pricing{
    margin-bottom: 20px;
}

.pricing .unit {
    display: block;
    min-width: inherit;
}

.float-top-left-corner {
    position: absolute;
    z-index: 1;
    margin-left: 2px;
}
.pricing .price-body li {
    margin-bottom: 4px;
}
.pricing .price-body h4, h5, h6 {
    margin-top: 9px;
    margin-bottom: 4px;
}
.pricing .price-body {
    padding: 1px 18px 1px;
}
.pricing .price-title {
    padding: 22px 16px 1px;
}
.pricing .price-foot {
    padding: 9px;
}