@(message: String)

@main("Secret Six Dashboard") {
    <script type="text/ng-template" id="observationModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body">
            <ul>
                <li ng-repeat="item in items">
                    <a ng-click="selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="patientObservationModalContent.html">
    <div class="modal-header">
    <h4 class="modal-title">Patient Observations <span class="badge badge-primary" ng-click="isCollapsed = !isCollapsed" style="cursor: pointer;" ng-hide="viewObservations.userInfo.type == 1">Create New Observation</span></h4>
    </div>



    <div class="modal-body">
    <div class="col-md-12" collapse="!isCollapsed">
    <div class="alert alert-success">
    <form class="form" name="myForm">
    <div class="form-group">
    <label>Observation:</label>
    <div class="input-group">
    <select name="obsdpdn" class="form-control" ng-model="observationAdd" disabled ng-options="k as v for (k, v) in viewObservations.obsOptions" required></select>
    <div class="input-group-addon" ng-show="myForm.obsdpdn.$error.required "><span class="text-danger">Required</span></div>
    </div>

    <label>Quantity/Value:</label>
    <div class="input-group">
        <input type="number" name="quantity" ng-model="quantityAdd"
        class="form-control" placeholder="Quantity/Value" required>
    <div class="input-group-addon" ng-show="myForm.quantity.$error.required || myForm.quantity.$error.number"><span class="text-danger">Required</span></div>
    </div>

    <label>Unit:</label>
    <div class="input-group">
    <input type="text" name="unit" ng-model="unitAdd"
    class="form-control" placeholder="Unit" required>
    <div class="input-group-addon" ng-show="myForm.unit.$error.required"><span class="text-danger">Required</span></div>
    </div>

    <label>Comment:</label>
    <div class="input-group">
    <input type="text" name="comment" ng-model="commentAdd"
    class="form-control" placeholder="Write your observation notes" required>
    <div class="input-group-addon" ng-show="myForm.comment.$error.required"><span class="text-danger">Required</span></div>
    </div>

    <label>Date Observed:</label>
    <div class="input-group">
    <input type="date"  name="date" ng-model="dateAdd" class="form-control"
    placeholder="yyyy-MM-dd" min="2011-01-01" max="2019-12-31" required />
    <div class="input-group-addon" ng-show="myForm.date.$error.required"><span class="text-danger">Required</span></div>
    </div>


    </div>

    </form>
    <button class="btn btn-default btn-sm" ng-click="add()"
    ng-disabled="myForm.unit.$error.required ||
    myForm.obsdpdn.$error.required ||
    myForm.quantity.$error.required ||
    myForm.quantity.$error.number ||
    myForm.comment.$error.required ||
    myForm.date.$error.required">Add</button>
    </div>
    </div>







    <div class="col-md-12">
        <div class="alert alert-info">
        <form class="form-inline">
        <div class="form-group"> <label>Search:</label>
        <div class="input-group">
        <input type="text" ng-model="searchObsMod"
        class="form-control" placeholder="Enter text to search">
        <div class="input-group-addon" ng-click="searchObsMod=''" style="cursor: pointer;"><span class="fa fa-close"></span></div>
        </div>
        </div>
        <span class="small text-info">i.e. Try searching for the text: weight</span>
        </form>

        </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Study Observations</div>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr><th>Obs.</th><th>Result</th><th>Date</th></tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in viewObservations.local|filter:searchObsMod"><td>{{x.display}}</td><td>{{x.quantity}} {{x.unit}}</td><td>{{x.dateObserved|date:"MM/dd/yyyy"}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">Past Observations</div>
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr><th>Obs.</th><th>Result</th><th>Date</th></tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="x in viewObservations.remote.entry|filter:searchObsMod"><td>{{x.content.name.coding[0].display}}</td><td>{{x.content.valueQuantity.value}} {{x.content.valueQuantity.unit}}</td><td>{{x.content.appliesDateTime|date:"MM/dd/yyyy"}}</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">

    <button class="btn btn-warning" ng-click="cancel()">Close</button>
    </div>



    </script>

    <script type="text/ng-template" id="addStudyModal.html">
        <div class="modal-header">
            <h4 class="modal-title">
                Study
            </h4>
        </div>
        <div class="modal-body">
            <div class="col-md-12" collapse="false">
                <div class="alert alert-success">
                    <form class="form" name="myForm">
                        <div class="form-group">
                            <label>Description:</label>
                            <div class="input-group">
                                <input type="text" name="desc" ng-model="newStudy.description" class="form-control" placeholder="Description" required/>
                                <div class="input-group-addon" ng-show="myForm.desc.$error.required ">
                                    <span class="text-danger">Required</span>
                                </div>
                            </div>

                            <label>Frequency:</label>
                            <div class="input-group">
                                <input type="number" name="frequency" ng-model="newStudy.frequency" class="form-control" placeholder="Frequency" required/>
                                <div class="input-group-addon" ng-show="myForm.frequency.$error.required || myForm.frequency.$error.number">
                                    <span class="text-danger">Required</span>
                                </div>
                            </div>

                            <label>Notes:</label>
                            <div class="input-group">
                                <input type="text" name="notes" ng-model="newStudy.note" class="form-control" placeholder="Notes" required/>
                                <div class="input-group-addon" ng-show="myForm.notes.$error.required">
                                    <span class="text-danger">Required</span>
                                </div>
                            </div>

                            <label>Observations:</label>
                            <div class="input-group">
                                <select name="observations" class="form-control" ng-model="newStudy.observationCodes" ng-options="k as v for (k, v) in obsOptions" required></select>
                                <div class="input-group-addon" ng-show="myForm.observations.$error.required">
                                    <span class="text-danger">Required</span>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" ng-click="ok()" ng-disabled="myForm.desc.$error.required || myForm.frequency.$error.required || myForm.notes.$error.required || myForm.observations.$error.required">Ok</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>

    <div ng-controller="dashboardController">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Secret<i class="fa fa-connectdevelop fa-lg fa-spin"></i>Six </a>
            </div>
            <div class="collapse navbar-collapse" collapse="!navbarCollapsed">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Dashboard</a></li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li  ng-hide="!loggedin"><a href="#logout" ng-click="loggedin=false">Logout</a></li>
                </ul>
            </div>
            @*<div id="navbar" class="navbar-collapse collapse">*@
                @*<ul class="nav navbar-nav">*@
                    @*<li class="active"><a href="#">Home</a></li>*@
                    @*<li><a href="#about">About</a></li>*@

                @*</ul>*@
            @*</div><!--/.nav-collapse -->*@
        </div>
    </nav>


        @*<button class="btn btn-default" ng-click="open()">Open me!</button>*@
        @*<button class="btn btn-default" ng-click="open('lg')">Large modal</button>*@
        @*<button class="btn btn-default" ng-click="open('sm')">Small modal</button>*@
        @*<div ng-show="selected">Selection from a modal: {{ selected }}</div>*@
    <div class="container" role="main">
        <div class="row" collapse="loggedin">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Username" name="username" type="username" autofocus="" ng-model="usernameInput">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model="passwordInput">
                                </div>

                                    <!-- Change this to a button or input when using this as a form -->
                                <a href="#" ng-click="userAuthentication(usernameInput,passwordInput)" class="btn btn-lg btn-success btn-block">Login</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div collapse="!loggedin">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-university fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{allStudies.length}}</div>
                                    <div>Studies</div>
                                </div>
                            </div>
                        </div>
                        <a href="#" ng-click="setShowListDefault('availableStudies');loadStudies();showChart();">
                            <div class="panel-footer">
                                <span class="pull-left">View Studies</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" ng-hide="userInfo.type==1">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{allAvailableTodos.length}}</div>
                                    <div>Todo List Items</div>
                                </div>
                            </div>
                        </div>
                        <a href="#" ng-click="setShowListDefault('availableTodos');loadTodos();">
                            <div class="panel-footer">
                                <span class="pull-left">View Items</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6" ng-hide="userInfo.type==1">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bed fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{allAvailablePatients.totalResults}}</div>
                                    <div>Available Patients</div>
                                </div>
                            </div>
                        </div>
                        <a href="#" ng-click="setShowListDefault('availablePatients');loadPatients(myDictionary.selfPatientsLink);">
                            <div class="panel-footer" >
                                <span class="pull-left">Research Patients</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{patientCount}}</div>
                                    <div>Study Patients</div>
                                </div>
                            </div>
                        </div>
                        <a href="#" ng-click="setShowListDefault('studyPatients');loadStudyPatients();">
                            <div class="panel-footer">
                                <span class="pull-left">View Study Patients</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row" ng-hide="!showList.availablePatients">
                <div class="col-md-6">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i> {{allAvailablePatients.totalResults}} Available Patients (Showing 50)<span class="fa fa-backward" ng-click="loadPatients(allAvailablePatients.link[allAvailablePatients.link.length-3].href)" ng-hide="allAvailablePatients.link.length<4"></span> <span class="fa fa-forward" ng-click="loadPatients(allAvailablePatients.link[allAvailablePatients.link.length-2].href)"></span></h3>
                        </div>
                        <table class="table table-striped">
                            <thead><tr><th>Action</th><th>Patient ID</th><th>First Name</th><th>Last Name</th></tr></thead>

                                <tbody >
                                    <tr ng-repeat="items in allAvailablePatients.entry | limitTo:50">
                                    <td>
                                    <div class="btn-group " dropdown>
                                        <button type="button" class="btn btn-danger btn-xs" ng-click="setShowListDefault('availablePatients');selectPatientData(items.content.identifier[0].value);showList.availablePatientsObservations=true;">Select</button>
                                        <button type="button" class="btn btn-danger btn-xs dropdown-toggle" dropdown-toggle>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" ng-click="createNewPatient(items.content)">Add to study</a></li>
                                            <li><a href="#">Ignore</a></li>

                                        </ul>
                                    </div>
                                </td>
                                    <td><span class="small">{{items.content.identifier[0].value}}</span></td><td> {{items.content.name[0].given[0]}}</td><td> {{items.content.name[0].family[0]}}</td>
                                </tr>

                                </tbody>

                        </table>
                    </div>
                </div>
                <div class="col-md-6" ng-hide="!(showList.availablePatientsObservations || showList.availablePatientsConditions || showList.availablePatientsMedications)">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-list"></i>
                                <a href="#" ng-class="showList.availablePatientsObservations ? 'label label-success' : 'label label-normal'" ng-click="showList.availablePatientsObservations=true;showList.availablePatientsConditions = false; showList.availablePatientsMedications = false">{{patientObservations.totalResults}} Observations</a>
                                <a href="#" ng-class="showList.availablePatientsConditions ? 'label label-success' : 'label label-normal'" ng-click="showList.availablePatientsObservations=false;showList.availablePatientsConditions = true; showList.availablePatientsMedications = false">{{patientConditions.totalResults}} Conditions</a>
                                <a href="#" ng-class="showList.availablePatientsMedications ? 'label label-success' : 'label label-normal'" ng-click="showList.availablePatientsObservations=false;showList.availablePatientsConditions = false; showList.availablePatientsMedications = true">{{patientMedicationPrescription.totalResults}} Medications</a></h3>
                        </div>
                        <div style="min-height: 400px;max-height: 400px;overflow: auto">
                        <ul class="list-group">
                            <li ng-show="showList.availablePatientsObservations" class="list-group-item" ng-repeat="items in patientObservations.entry "><span ng-bind-html="items.content.text.div"></span></li>
                            <li ng-show="showList.availablePatientsConditions" class="list-group-item" ng-repeat="items in patientConditions.entry "><span ng-bind-html="items.content.text.div"></span></li>
                            <li ng-show="showList.availablePatientsMedications" class="list-group-item" ng-repeat="items in patientMedicationPrescription.entry ">Med: <span ng-bind="items.content.medication.display"></span> Dosage: <span ng-bind-html="items.content.dosageInstruction[0].text"></span> Dose Quantity: <span ng-bind="items.content.dosageInstruction[0].doseQuantity.value"></span><span ng-bind="items.content.dosageInstruction[0].doseQuantity.units"></span> Prescribed by: {{items.content.prescriber.display}}</li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" ng-hide="!showList.studyPatients">
                <div class="col-lg-12">
                    <div class="well well-sm">
                        <form class="form-inline">
                            <div class="form-group"> <label>Search:</label>
                                <div class="input-group">
                                    <input type="text" ng-model="searchStudyPatients"
                                    class="form-control" placeholder="Enter text to search">
                                    <div class="input-group-addon" ng-click="searchStudyPatients=''" style="cursor: pointer;"><span class="fa fa-close"></span></div>
                                </div>
                            </div>
                            <button class="btn btn-danger" ng-click="searchStudyPatients = 'Inactive'">Inactive Patients</button>
                            <button class="btn btn-info" ng-click="searchStudyPatients = 'Open'">New Patients</button>
                            <span class="badge badge-primary pull-right">{{x.length}}</span>
                        </form>

                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 animate-repeat" ng-repeat="item in x = (allStudyPatients|filter:searchStudyPatients)">
                    <div class="pricing">
                        <label class="label label-info float-top-left-corner" ng-hide="userInfo.type==1">{{item.firstName}} {{item.lastName}}</label>
                        <div ng-class="item.status == 'Active' ? 'unit price-success' : (item.status == 'Inactive' ? 'unit price-warning' : 'unit price-primary')" >
                            <div class="price-title text-right">
                                <!-- CRC -->
                                <span class="fa-stack fa-lg" data-ng-show="userInfo.type!=1">
                                    <i class="fa fa-user-crc fa-stack-1x fa-2x" ng-show="item.status == 'Active'" ng-click="item.status = 'Inactive'; updateStudyPatient(item);"></i>
                                    <i class="fa fa-user-times-crc fa-stack-1x fa-2x text-danger" ng-show="item.status == 'Inactive'" ng-click="item.status = 'Active'; updateStudyPatient(item);"></i>
                                    <i class="fa fa-user-plus-crc fa-stack-1x fa-2x" ng-show="item.status == 'Open'"></i>
                                </span>
                                <!-- Sponsor -->
                                <span class="fa-stack fa-lg" data-ng-show="userInfo.type==1">
                                    <i class="fa fa-user fa-stack-1x fa-2x" ng-show="item.status == 'Active'"></i>
                                    <i class="fa fa-user-times fa-stack-1x fa-2x text-danger" ng-show="item.status == 'Inactive'"></i>
                                    <i class="fa fa-user-plus fa-stack-1x fa-2x" ng-show="item.status == 'Open'" ng-click="item.editMode = true"></i>
                                </span>
                            </div>
                            <div class="price-body" data-ng-hide="item.editMode">
                                <h5>{{item.studyDescription}}</h5>
                                <p>{{item.status}}</p>
                                <p></p>
                            </div>
                            <div class="price-body" data-ng-show="item.editMode">
                                <h6>Select Study:</h6>
                                <select name="studies" class="form-control" ng-model="item.studyId" ng-options="x.studyId as x.description for x in allStudies" ng-change="alert(item.studyId);" required></select>
                                <h6><input type="checkbox" ng-model="item.type" ng-true-value="1"  ng-false-value="0"  ng-checked="item.type == 1"> Use Placebo</h6>
                                <button type="button" class="btn btn-success btn-lg" ng-click="item.editMode = false; item.status = 'Active'; updateStudyPatient(item);">Confirm</button>
                                <p></p>
                            </div>
                            <div class="price-foot" ng-show="item.status != 'Open'">
                                    <!--<button type="button" class="btn btn-default btn-sm" data-ng-hide="editMode" data-ng-click="editMode = true"><i class="fa fa-edit"></i> Edit</button>-->
                                    <!--<button type="button" class="btn btn-default btn-sm" data-ng-show="editMode" data-ng-click="editMode = false"><i class="fa fa-edit"></i> Update</button>-->
                                <button type="button" class="btn btn-default btn-xs" ng-click="openPatientObservations(item.patientId)"><i class="fa fa-search"></i> Observations</button>
                                <!--<button type="button" class="btn btn-danger btn-xs" ng-show="item.status == 'Active' && userInfo.type==0" data-ng-click="editMode = true"><i class="fa fa-times"></i> Deactivate</button>-->
                                <button type="button" class="btn btn-info btn-xs" ng-show="item.status == 'Open' && userInfo.type==1" ><i class="fa fa-check"></i> Assign Study</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" ng-hide="!showList.availableTodos">

                <div class="col-lg-12">
                    <div class="well well-sm">
                        <form class="form-inline">
                            <div class="form-group"> <label>Search:</label>
                                <div class="input-group">
                                    <input type="text" ng-model="searchTodo"
                                    class="form-control" placeholder="Enter text to search">
                                    <div class="input-group-addon" ng-click="searchTodo=''" style="cursor: pointer;"><span class="fa fa-close"></span></div>
                                </div>
                            </div>
                            <button class="btn btn-danger" ng-click="searchTodo = 'pastdue'">Past Due Observations Only</button>
                            <button class="btn btn-info" ng-click="searchTodo = 'new patient'">New Patients Only</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12">
                    <accordion close-others="true" class="panel-group panel-group-lists" >
                        <accordion-group class="panel panel-success" is-open="false" ng-repeat="study in x = (distinctStudies|filter:searchTodo)">
                            <accordion-heading >
                                <h3 class="panel-title">
                                    <span class="badge badge-default">{{y.length}}</span> Pending Items for Study:
                                    <span class="label label-default" ng-if="!study.description">ID: {{study.studyId}}</span> <i class="fa fa-warning fa-lg text-warning" tooltip="This study has no description. Please update the study."></i>
                                    <span class="label label-default" ng-if="study.description">{{study.description}}</span>
                                </h3>
                            </accordion-heading>
                            <div class="col-sm-6 col-md-4" ng-repeat="item in y = (study.todos|filter:searchTodo)">
                                <div class="thumbnail" style="background-color: #f3f3f3;">
                                    <div class="float-top-left-corner"><span class="label label-danger" ng-show="item.pastDueDays > 0">Past Due</span></div>
                                    <div class="caption text-center">
                                        <h3>{{item.subjectFirstName}} {{item.subjectLastName}}</h3> <i class="fa fa-info-circle fa-lg text-info" tooltip="{{item.subject}}"></i>
                                        <p>
                                            Perform the following Observations
                                        </p>
                                        <ul class="list-group">
                                            <li class="list-group-item" ng-repeat="code in study.observationCodesObj">
                                                {{getObservationName(code)}}
                                            </li>
                                        </ul>
                                        <p>
                                            <a href="#" class="btn btn-warning" role="button" ng-click="openPatientObservations(item.subject)">Create Observation</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>

            </div>
            <div class="row" ng-hide="!showList.availableStudies">
                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">All Studies
                        </div>
                        <div style="min-height: 400px;max-height: 400px;overflow: auto">
                            <ul class="list-group">
                                <li class="list-group-item" ng-repeat="item in allStudies">
                                    <span class="badge badge-info">{{item.observationCodes}}</span>
                                    <div class="btn-group " dropdown >
                                        <button type="button" ng-disabled="userInfo.type == 0 || item.status" class="btn btn-danger btn-xs" ng-click="openEditStudyModal(item)">Edit</button>
                                        <button type="button" ng-disabled="userInfo.type == 0 || item.status" class="btn btn-danger btn-xs dropdown-toggle" dropdown-toggle>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#" ng-click="markStudyComplete(item)">Mark Complete</a></li>
                                        </ul>
                                    </div>
                                    {{item.description}}
                                </li>
                            </ul>
                        </div>
                        <div class="panel-footer">
                            <button type="button" ng-disabled="userInfo.type == 0" class="btn btn-success" ng-click="openAddStudyModal()">New Study</button>
                            @*<button type="button" class="btn btn-success" ng-click="testAddStudy()">Test Post Study</button>*@
                            @*<button type="button" class="btn btn-success" ng-click="testUpdateStudy()">Test Put Study</button>*@
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Number of Patients Assigned per Study
                        </div>
                        <div id="mydonutchart"></div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="">

                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Study Success Rate Report
                            </div>
                            <div id="chart" style="height:250px;"></div>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Weight Study Real vs Placebo
                            </div>
                                <div id="chartplacebovsnonWeight" style="height:250px;"></div>


                            </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Sleep Study Real vs Placebo
                            </div>
                                <div id="chartplacebovsnonSleeping" style="height:250px;"></div>

                            </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Height Study Real vs Placebo
                            </div>
                            <div id="chartplacebovsnonHeight" style="height:250px;"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    </div>



        @*12 {{test}}  34*@

        @*<button type="button" ng-click="loadSamplejson()">click</button>*@
        @*<button ng-click="loadSamplejsonWP(temptext)">click to show text</button>*@



        @*<input ng-model="temptext">*@

        @*<br>*@
        @*start <div ng-repeat="item in passedtext">{{item}}</div>  stop*@
@*<hr/>*@
        @*<button ng-click="loadPatients()">load Patients</button>*@
        @*<table ng-repeat="patient in allAvailablePatients.entry">*@
            @*<tl><td>patient link: </td><td>{{patient.id}}</td><td><button ng-click="patientData(patient.id)">load Patients Detail</button></td></tl>*@
        @*</table>*@
@*<hr/>*@
        @*<button ng-click="loadObservations()">load Observations</button>*@
        @*<table ng-repeat="observation in allAvailableObservations.entry">*@
            @*<tl><td>observation link: </td><td>{{observation.id}}</td><td><button ng-click="observationData(observation.id)">load observation Detail</button></td></tl>*@
        @*</table>*@
@*<hr/>*@
        @*<button ng-click="loadConditions()">load Conditions</button>*@
        @*<table ng-repeat="condition in allAvailableConditions.entry">*@
            @*<tl><td>condition link: </td><td>{{condition.id}}</td><td><button ng-click="conditionData(condition.id)">load observation Detail</button></td></tl>*@
        @*</table>*@
@*<hr/>*@
            @*<input ng-model="system" placeholder="System">,<input ng-model="code" placeholder="Code"> Try http://hl7.org/fhir/sid/icd-9 and 590.80*@
            @*<button ng-click="loadConditionsByCode(system,code)">load Conditions by code</button>*@
    </div>

}
